body {

    font-family: 'Courier New', Courier, monospace;
    }
    .btn-primary
    {
        background-color: gold;
        border-color: transparent;
        color:black;
    }
    #menu.active 
    {
        background-color: goldenrod;
        color: black; !important;
    }
